.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4rem 1rem;
  margin-top: 2rem;
}

.skillList {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  max-width: 100%;
  padding: 1rem 0;
}

hr {
  width: 100px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 20px auto;
}

@media (width >=800px) {
  .skillList {
    max-width: fit-content;
    gap: 24px;
  }

  hr {
    width: 300px;
  }
}
